test_data/01_1.lsp
test_data/01_2.lsp
test_data/02_1.lsp
test_data/02_2.lsp
test_data/03_1.lsp
test_data/03_2.lsp
test_data/04_1.lsp
test_data/04_2.lsp
test_data/05_1.lsp
test_data/05_2.lsp
test_data/06_1.lsp
test_data/06_2.lsp
test_data/07_1.lsp
test_data/07_2.lsp
test_data/08_1.lsp
test_data/08_2.lsp
test_data/b1_1.lsp
test_data/b1_2.lsp
test_data/b2_1.lsp
test_data/b2_2.lsp
test_data/b3_1.lsp
test_data/b3_2.lsp
test_data/b4_1.lsp
test_data/b4_2.lsp
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
smli
node.o
mlisp.tab.o
mlisp.tab.hpp
mlisp.tab.cpp
mlisp.output
mlisp
messages.o
log.txt
lex.yy.o
lex.yy.c
launch
mash.cpp
